.recentBlogs {
  padding: 50px;
}
.recentBlogsWrapper {
  display: flex;
  width: 85%;
  flex-direction: column;
  margin: auto;
  gap: 5em;
  align-items: center;
}
.recentBlogsHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recentBlogsContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.recentBlogsContent > div:nth-child(1) {
  display: flex;
  margin-bottom: 2em;
  align-items: center;
  width: 100%;
  gap: 30px;
  padding: 20px;
  padding-bottom: 80px;
  border-bottom: 1px solid var(--light-border-color);
}
