.blogCard {
  width: 30.33%;
  padding: 20px;
}
.blogCardMetaData {
  display: flex;
  align-items: center;
  gap: 20px;
}
.blogCardMetaData > p {
  margin: 0;
}
.blogCardText > a:nth-child(1) {
  color: var(--white);
  font-family: Cormorant Garamond, sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.3;
}
.blogCardContent > a {
  border-bottom: 1px solid var(--primary-color);
}
.blogCard > img {
  width: 100%;
  object-fit: cover;
}
